<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to HomeCanvasr, <%= @subscriber.email %>,</p></br>
    <p>
      Thank you for subscribing to HomeCanvasr.com. Look forward to updates as we gear up for an anticipated May 2013 launch.<br/>Early adopters such as yourself are fundamental to the development of HomeCanvasr, so please consider taking our brief pre-launch survey: www.homecanvasr.com/survey .
    </p></br>
    <p>Cheers,</br>The HomeCanvasr Team</p>
  </body>
</html>