<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to HomeCanvasr, <%= @subscriber.email %>,</p></br>
    <p>
      You have successfully subscribed to HomeCanvasr.com. We look forward to updating you as we gear up for our May launch.<br/>We take great interest in our early adopters, so please consider taking our pre-launch survey: www.homecanvasr.com/survey .
    </p></br>
    <p>Cheers,</br>The HomeCanvasr Team</p>
  </body>
</html>