</br>
<%= button_to 'Back to HomeCanvasr', root_path, :class => 'btn' %>
</br>

<div id="surveyMonkeyInfo"><div><script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=pcqAGfeIHPdKmqyYPf537w_3d_3d"> </script></div>Create your free online surveys with <a href="https://www.surveymonkey.com/">SurveyMonkey</a> , the world's leading questionnaire tool.</div>